App_Data/
packages/
publish/
node_modules/
bower_components/
obj/
bin/
.idea/

*applicationhost.config
*client.bundle.js
*server.bundle.js
*.DotSettings
*.sublime-workspace
*.user
*.suo
*.log
*.txt
*log*.txt.*
*.[Pp]ublish.xml
*.publishproj
*.GhostDoc.xml
*.Dev.config
*.Prod.config
